@import "src/@fuse/scss/fuse";

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

task-timeline {
    display: flex;
    overflow: hidden;

    .theme-options-panel {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        padding: 40px 24px 24px 24px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .header {
            display: flex;
            flex: 0 1 auto;
            margin-bottom: 32px;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 20px;
                font-weight: 500;
                padding-left: 4px;
            }
        }

        form {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;

            .group {
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                position: relative;
                border-radius: 2px;
                padding: 28px 16px 8px 16px;
                margin: 16px 0;

                h2 {
                    position: absolute;
                    top: -11px;
                    left: 8px;
                    margin: 0;
                    padding: 0 8px;
                    font-size: 16px;
                    font-weight: 500;
                }

                h3 {
                    font-size: 14px;
                    font-weight: 500;
                    margin: 24px 0 16px 0;
                    padding: 0;

                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .roundCommon {
        height: 20px;
        width: 20px;
        border-radius: 20px;
    }
    .round {
        @extend .roundCommon;
        background-color: white;
        // rgb(187, 185, 185)
        border: 2px solid gray;
        cursor: pointer !important;
    }
    .round1 {
        @extend .roundCommon;
        background-color: #2ecc71;
        border: 2px solid #2ecc71;
    }
    .vertical-line {
        width: 3px;
        min-height: 50px;
        border: 2px solid gray;
        background: gray;
        // margin: 5px auto 0px auto;
        margin: 21px -2px -8px -12px !important;
    }

    // .fuse-sidebar {
    //     display: flex;
    //     flex-direction: column;
    //     flex: 1 0 auto;
    //     position: absolute;
    //     top: 183;
    //     bottom: 0;
    //     overflow-x: hidden;
    //     overflow-y: auto;
    //     -webkit-overflow-scrolling: touch;
    //     width: 280px;
    //     min-width: 280px;
    //     max-width: 280px;
    //     z-index: 1000;
    //     box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);

    //     @include media-breakpoint-down("xs") {
    //         min-width: 0 !important;
    //         max-width: 80vw !important;
    //         width: 80vw !important;
    //     }

    //     &.left-positioned {
    //         left: 0;
    //         transform: translateX(-100%);
    //     }

    //     &.right-positioned {
    //         right: 0;
    //         transform: translateX(100%);
    //     }

    //     &.open {
    //         transform: translateX(0);
    //     }

    //     &.locked-open {
    //         position: relative !important;
    //         transform: translateX(0) !important;
    //     }

    //     &.folded {
    //         position: absolute !important;
    //         top: 0;
    //         bottom: 0;
    //     }

    //     &.animations-enabled {
    //         transition-property: transform, width, min-width, max-width;
    //         transition-duration: 150ms;
    //         transition-timing-function: ease-in-out;
    //     }
    // }
}
