<div id="dashboard" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="10px">

    <!-- <mat-card class="p-8 pt-4 pb-0 m-0">
      <div fxLayout>
        <div fxFlex fxLayoutAlign="start center" class="h2">
          <b>Dashboard</b>
        </div>
      </div>
    </mat-card> -->
    <div class="sidenav-content mt-4" fxFlex fxLayout>
      <div fxFlex="100">
        <div class="topbarClass">

          <mat-card class="tile m-12 py-12 pl-12 pr-0" fxFlex fxLayout="column" (click)="LoadSelectedTask('new')">
            <div fxFlex fxLayout>
              <div fxFlex>
                <img src="assets/images/dashboard/new.png">
              </div>
              <div fxFlex>
                <div class="redBorderBottom">
                  New
                </div>
              </div>
            </div>
            <div fxFlex fxLayout class="my-8">
              <div fxFlex="40" fxLayoutAlign="end start">
                <span class="h1 mr-8">{{AllNewTasksCount}}</span>
              </div>
              <div fxFlex="60" fxLayoutAlign="center center">
                <span class="subTitle">tasks for today</span>
              </div>
            </div>
          </mat-card>

          <mat-card class="tile m-12 py-12 pl-12 pr-0" fxFlex fxLayout="column" (click)="LoadSelectedTask('open')">
            <div fxFlex fxLayout>
              <div fxFlex>
                <img src="assets/images/dashboard/open.png">
              </div>
              <div fxFlex>
                <div class="orangeBorderBottom">
                  Open
                </div>
              </div>
            </div>
            <div fxFlex fxLayout class="my-8">
              <div fxFlex="40" fxLayoutAlign="end start">
                <span class="h1 mr-8">{{AllOpenTasksCount}}</span>
              </div>
              <div fxFlex="60" fxLayoutAlign="start center">
                <span class="subTitle">/ {{AllTasksCount}}</span>
              </div>
            </div>
          </mat-card>

          <mat-card class="tile m-12 py-12 pl-12 pr-0" fxFlex fxLayout="column" (click)="LoadSelectedTask('escalated')">
            <div fxFlex fxLayout>
              <div fxFlex>
                <img src="assets/images/dashboard/escalate.png">
              </div>
              <div fxFlex>
                <div class="redBorderBottom">
                  Escalated
                </div>
              </div>
            </div>
            <div fxFlex fxLayout class="my-8">
              <div fxFlex="40" fxLayoutAlign="end start">
                <span class="h1 mr-8">{{AllEscalatedTasksCount}}</span>
              </div>
              <div fxFlex="60" fxLayoutAlign="center center">
                <span class="subTitle">issues for today</span>
              </div>
            </div>
          </mat-card>

          <mat-card class="tile m-12 py-12 pl-12 pr-0" fxFlex fxLayout="column" (click)="LoadSelectedTask('rework')">
            <div fxFlex fxLayout>
              <div fxFlex>
                <img src="assets/images/dashboard/reWork.png">
              </div>
              <div fxFlex>
                <div class="orangeBorderBottom">
                  Rework
                </div>
              </div>
            </div>
            <div fxFlex fxLayout class="my-8">
              <div fxFlex="40" fxLayoutAlign="end start">
                <span class="h1 mr-8">{{AllReworkTasksCount}}</span>
              </div>
              <div fxFlex="60" fxLayoutAlign="center center">
                <span class="subTitle">issues for today</span>
              </div>
            </div>
          </mat-card>

        </div>

        <div fxLayout="column" class="mt-12 mx-12">
          <div fxFlex>
            <mat-form-field style="width: 100%; float: right;">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>

          <div flex class="mt-10">
            <div class="tableData" #TABLE>
              <div style="overflow-x:auto;overflow-y:hidden ;">
                <table class="table" mat-table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}">

                  <ng-container matColumnDef="TaskGroup">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Group </th>
                    <td mat-cell *matCellDef="let element"> {{element.TaskGroupTitle}} </td>
                  </ng-container>

                  <ng-container matColumnDef="TaskSubGroup">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Sub-Group </th>
                    <td mat-cell *matCellDef="let element"> {{element.TaskSubGroupTitle}} </td>
                  </ng-container>

                  <ng-container matColumnDef="TaskName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
                  </ng-container>

                  <ng-container matColumnDef="OwnerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned To </th>
                    <td mat-cell *matCellDef="let element"> {{element.OwnerNames}} </td>
                  </ng-container>

                  <ng-container matColumnDef="PlannedCompletionDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Planned Completion Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.CompletionBefore | date:'dd/MM/yyyy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple style=" cursor: pointer;"></tr>
                </table>
                <div *ngIf="!AllTasks?.length">
                  <mat-icon svgIcon="infoIcon" style="color: #1b56ca;margin-top: 10px;margin-left: 70px"></mat-icon>
                  <span style="margin-left: 10px;">The table does not contain any data</span>
                </div>
              </div>
            </div>
          </div>

          <div flex>
            <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
      <!-- <div fxFlex="30">
        <div class="rightCard mt-8 mb-4">
          <div class="h2 m-8 mx-24 pt-12 subHeader">Open Tickets (5)</div>
          <div *ngFor="let ticket of AllTickets;let first=first" class="m-12 ticketTile p-12"
            [style.border-left-color]="first?'#efb577':'#cccccc'">
            <div fxLayout>
              <div fxFlex fxLayoutAlign="start center" class="boldClass">
                Ticket No : {{ticket.TicketNo}}
              </div>
              <div fxFlex fxLayoutAlign="end center" class="italicClass">
                {{ticket.TicketDate | date:'dd/MM/yyyy'}}
              </div>
            </div>
            <div fxLayout class="mt-8">
              <div fxFlex>
                {{ticket.Comment}}
              </div>
            </div>
          </div>
        </div>
        <div class="rightCard">
          <div class="h2 m-8 ml-24 pt-12 subHeader">Activity</div>
          <div *ngFor="let activity of AllActivities;let first=first" class="m-12 p-12">
            <div fxLayout>
              <div fxFlex="20" fxLayoutAlign="start center" class="boldClass">
                <img class="avatar1 mx-12" [src]="activity.Profile">
              </div>
              <div fxFlex="80" fxLayout="column" class="mt-8">
                <div fxFlex>
                  {{activity.Comment}}
                </div>
                <div fxFlex class="intervalclass">
                  {{activity.Interval}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
  </mat-progress-spinner>
  <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
</div>