<div id="chat" class="page-layout carded fullwidth">
  <div class="center normal" style="margin-top: -27px !important;padding:32px 0px 1px !important;">
    <div fxLayout class="content-card1">
      <div fxFlex="23" class="side-bar">
        <mat-card class="cardHeader p-8" style="height: 52px !important;background-color: #fffdf9;">
          <div fxLayout fxFlex fxLayoutAlign="center" class="h2">
            <b>Task ({{AllTasks?.length}})</b>
          </div>
        </mat-card>
        <div class="sidenav-header" style="background-color: #f5f5f5;">
          <mat-toolbar>
            <mat-toolbar-row fxLayout="row" class="px-8" fxLayoutAlign="space-between center">
              <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                  <mat-icon class="s-16">search</mat-icon>
                </div>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
          <div>
            <div class="sidenav-content" fusePerfectScrollbar fxFlex>
              <div *ngFor="let usr of AllTasks | filter: searchText">
                <div>
                  <div class="mx-8 mb-8 mt-0 p-8 leftCard" (click)="loadSelectedTask(usr)"
                    [style.border-left-color]="selectID==usr.TaskID?'#efb577':'#cccccc'">
                    <div fxLayout fxLayoutAlign="space-between center">
                      <div fxFlex><strong>{{usr.Title}}</strong></div>
                    </div>
                    <div style="font-size: 11px">
                      <div style="margin-top: 10px;color: #2e2e2e">
                        <span style="margin-right: 10px">{{usr.Type}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="(AllTasks | filter: searchText)?.length === 0" class="no-results-message">
                <span class="pl-12"> No results..</span>
              </div>
            </div>

          </div>
        </div>
        <div class="borderRight1"></div>
      </div>
      <div fxFlex="77" class="side-bar">
        <mat-card class="cardHeader p-8" style="background-color: #fffdf9;">
          <div fxLayout fxFlex class="h2" fxLayoutAlign="end">
            <button (click)="DeleteClicked()" class="DeleteBtn mr-12" *ngIf="SelectedTask.TaskID" mat-stroked-button>
              Delete</button>
            <button mat-raised-button class="mr-12" (click)="ResetControl()" *ngIf="!SelectedTask.TaskID">
              Clear
            </button>
            <button (click)="SaveClicked()" class="SaveBtn" mat-raised-button>
              {{SelectedTask.TaskID?'Update':'Create'}}</button>
          </div>
        </mat-card>
        <div class="sidenav-content" fxFlex fxLayout="column">
          <mat-card style="margin-top: 5px;" fxFlex fxLayout="column">
            <form autocomplete="off" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" novalidate
              [formGroup]="taskFormGroup">
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 80%;">
                    <input matInput placeholder="Title" formControlName="Title">
                    <mat-error
                      *ngIf="taskFormGroup.get('Title').touched && taskFormGroup.get('Title').hasError('required')">
                      Title is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 100%;">
                    <mat-select placeholder="Type" formControlName="Type">
                      <mat-option value="MS">MS</mat-option>
                      <mat-option value="PD">PD</mat-option>
                      <mat-option value="VI">VI</mat-option>
                      <mat-option value="RN">RN</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="taskFormGroup.get('Type').touched && taskFormGroup.get('Type').hasError('required')">
                      Title is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 80%;">
                    <input matInput placeholder="Estimated Effort" formControlName="EstimatedEffort">
                    <mat-error
                      *ngIf="taskFormGroup.get('EstimatedEffort').touched && taskFormGroup.get('EstimatedEffort').hasError('required')">
                      Estimated Effort is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 100%;">
                    <input matInput [matDatepicker]="picker1" formControlName="CompletionBefore">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <!-- <input matInput placeholder="Completion Before" formControlName="CompletionBefore"> -->
                    <mat-error
                      *ngIf="taskFormGroup.get('CompletionBefore').touched && taskFormGroup.get('CompletionBefore').hasError('required')">
                      Completion Before is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 80%;">
                    <input matInput placeholder="Assigned To" formControlName="AssignedTo">
                    <mat-error
                      *ngIf="taskFormGroup.get('AssignedTo').touched && taskFormGroup.get('AssignedTo').hasError('required')">
                      Assigned To is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 100%;" *ngIf="(CurrentUserRole | lowercase)==='developer'">
                    <input matInput placeholder="Accepted Effort" formControlName="AcceptedEffort">
                    <mat-error
                      *ngIf="taskFormGroup.get('AcceptedEffort').touched && taskFormGroup.get('AcceptedEffort').hasError('required')">
                      Accepted Effort is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 80%;" *ngIf="(CurrentUserRole | lowercase)==='developer'">
                    <input matInput [matDatepicker]="picker2" formControlName="AcceptedCompletionDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <!-- <input matInput placeholder="Accepted Completion Date" formControlName="AcceptedCompletionDate"> -->
                    <mat-error
                      *ngIf="taskFormGroup.get('AcceptedCompletionDate').touched && taskFormGroup.get('AcceptedCompletionDate').hasError('required')">
                      Accepted Completion Date is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                </div>
              </div>
            </form>
            <div fxFlex fxLayout="column">
              <div style="margin-left: 7px">
                <span><strong>Input Table</strong></span>
              </div>
              <div *ngIf="(CurrentUserRole  | lowercase)==='team lead'">
                <form autocomplete="off" fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" novalidate
                  [formGroup]="inputFormGroup">
                  <div fxFlex="30">
                    <mat-form-field class="pl-8" style="width: 80%;">
                      <input matInput placeholder="Field" formControlName="Field">
                      <mat-error
                        *ngIf="inputFormGroup.get('Field').touched && inputFormGroup.get('Field').hasError('required')">
                        Field is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="30">
                    <mat-form-field class="pl-8" style="width: 80%;">
                      <input matInput placeholder="Validation" formControlName="Validation">
                      <mat-error
                        *ngIf="inputFormGroup.get('Validation').touched && inputFormGroup.get('Validation').hasError('required')">
                        Validation is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="30">
                    <mat-form-field class="pl-8" style="width: 80%;">
                      <input matInput placeholder="Remarks" formControlName="Remarks">
                      <mat-error
                        *ngIf="inputFormGroup.get('Remarks').touched && inputFormGroup.get('Remarks').hasError('required')">
                        Remarks is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="10" fxLayoutAlign="start">
                    <img class="addIcon" src="assets/images/logos/add-button.png" (click)="AddInputToTable()">
                  </div>
                </form>
              </div>
              <div style="margin-left: 8px;margin-top: 10px;">
                <table class="table" mat-table [dataSource]="InputdataSource" matSort [@animateStagger]="{value:'50'}">

                  <ng-container matColumnDef="Action">
                    <th [style.display]="(CurrentUserRole  | lowercase)==='team lead'?'table-cell':'none'" mat-header-cell
                      *matHeaderCellDef mat-sort-header style="width: 40px;"> </th>
                    <td [style.display]="(CurrentUserRole  | lowercase)==='team lead'?'table-cell':'none'" mat-cell
                      *matCellDef="let element" style="width: 40px;">
                      <img class="removeIcon" src="assets/images/remove-button.png"
                        (click)="RemoveInputFromTable(element)">
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Field">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Field </th>
                    <td mat-cell *matCellDef="let element"> {{element.Field}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Validation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Validation </th>
                    <td mat-cell *matCellDef="let element"> {{element.Validation}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                    <td mat-cell *matCellDef="let element"> {{element.Remarks}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="InputdisplayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: InputdisplayedColumns;" matRipple style=" cursor: pointer;">
                  </tr>
                </table>
                <div flex>
                  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                  </mat-paginator>
                </div>
                <!-- </div> -->
              </div>
            </div>

            <div fxFlex fxLayout="column" *ngIf="(CurrentUserRole | lowercase)==='developer'">
              <div style="margin-left: 7px">
                <span><strong>Output Table</strong></span>
              </div>
              <div>
                <form autocomplete="off" fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" novalidate
                  [formGroup]="outputFormGroup">
                  <div fxFlex="25">
                    <mat-form-field class="pl-8" style="width: 80%;">
                      <input matInput placeholder="Level" formControlName="Level">
                      <mat-error
                        *ngIf="outputFormGroup.get('Level').touched && outputFormGroup.get('Level').hasError('required')">
                        Level is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="20">
                    <mat-form-field class="pl-8" style="width: 80%;">
                      <input matInput placeholder="Field" formControlName="Field">
                      <mat-error
                        *ngIf="outputFormGroup.get('Field').touched && outputFormGroup.get('Field').hasError('required')">
                        Field is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="20">
                    <mat-form-field class="pl-8" style="width: 80%;">
                      <input matInput placeholder="Validation" formControlName="Validation">
                      <mat-error
                        *ngIf="outputFormGroup.get('Validation').touched && outputFormGroup.get('Validation').hasError('required')">
                        Validation is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25">
                    <mat-form-field class="pl-8" style="width: 80%;">
                      <input matInput placeholder="Remarks" formControlName="Remarks">
                      <mat-error
                        *ngIf="outputFormGroup.get('Remarks').touched && outputFormGroup.get('Remarks').hasError('required')">
                        Remarks is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="10" fxLayoutAlign="start">
                    <img class="addIcon" src="assets/images/logos/add-button.png" (click)="AddOutputToTable()">
                  </div>
                </form>
              </div>
              <div style="margin-left: 8px;margin-top: 10px;">
                <table class="table" mat-table [dataSource]="OutputdataSource" matSort [@animateStagger]="{value:'50'}">

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;"> </th>
                    <td mat-cell *matCellDef="let element" style="width: 40px;">
                      <img class="removeIcon" src="assets/images/remove-button.png"
                        (click)="RemoveOutputFromTable(element)">
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Level">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
                    <td mat-cell *matCellDef="let element"> {{element.Level}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Field">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Field </th>
                    <td mat-cell *matCellDef="let element"> {{element.Field}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Validation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Validation </th>
                    <td mat-cell *matCellDef="let element"> {{element.Validation}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                    <td mat-cell *matCellDef="let element"> {{element.Remarks}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="OutputdisplayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: OutputdisplayedColumns;" matRipple
                    style=" cursor: pointer;">
                  </tr>
                </table>
                <div flex>
                  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                  </mat-paginator>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div fxFlex fxLayout="column">
              <div fxFlex fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50" fxLayout="column">
                  <div style="margin-left: 7px">
                    <span><strong>Logic Table</strong></span>
                  </div>
                  <div *ngIf="(CurrentUserRole  | lowercase)==='team lead'">
                    <form autocomplete="off" fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                      novalidate [formGroup]="logicFormGroup">
                      <div fxFlex="70">
                        <mat-form-field class="pl-8" style="width: 80%;">
                          <input matInput placeholder="LogicText" formControlName="LogicText">
                          <mat-error
                            *ngIf="logicFormGroup.get('LogicText').touched && logicFormGroup.get('LogicText').hasError('required')">
                            Logic Text is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="30" fxLayout="start">
                        <img class="addIcon" src="assets/images/logos/add-button.png" (click)="AddLogicToTable()">
                      </div>
                    </form>
                  </div>
                  <div style="margin-left: 8px;margin-top: 10px;">
                    <table class="table" mat-table [dataSource]="LogicdataSource" matSort
                      [@animateStagger]="{value:'50'}">

                      <ng-container matColumnDef="Action">
                        <th [style.display]="(CurrentUserRole  | lowercase)==='team lead'?'table-cell':'none'"
                          mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;"> </th>
                        <td [style.display]="(CurrentUserRole  | lowercase)==='team lead'?'table-cell':'none'" mat-cell
                          *matCellDef="let element" style="width: 40px;">
                          <img class="removeIcon" src="assets/images/remove-button.png"
                            (click)="RemoveLogicFromTable(element)">
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="LogicText">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> LogicText </th>
                        <td mat-cell *matCellDef="let element"> {{element.LogicText}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="LogicdisplayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: LogicdisplayedColumns;" matRipple
                        style=" cursor: pointer;">
                      </tr>
                    </table>
                    <div flex>
                      <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                    <!-- </div> -->
                  </div>
                </div>
                <div fxFlex="50" fxLayout="column">
                  <div style="margin-left: 7px">
                    <span><strong>Validation Table</strong></span>
                  </div>
                  <div *ngIf="(CurrentUserRole  | lowercase)==='team lead'">
                    <form autocomplete="off" fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                      novalidate [formGroup]="validationFormGroup">
                      <div fxFlex="70">
                        <mat-form-field class="pl-8" style="width: 80%;">
                          <input matInput placeholder="Validation Text" formControlName="ValidationText">
                          <mat-error
                            *ngIf="validationFormGroup.get('ValidationText').touched && validationFormGroup.get('ValidationText').hasError('required')">
                            Validation Text is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="30" fxLayout="start">
                        <img class="addIcon" src="assets/images/logos/add-button.png" (click)="AddValidationToTable()">
                      </div>
                    </form>
                  </div>
                  <div style="margin-left: 8px;margin-top: 10px;">
                    <table class="table" mat-table [dataSource]="ValidationdataSource" matSort
                      [@animateStagger]="{value:'50'}">

                      <ng-container matColumnDef="Action">
                        <th [style.display]="(CurrentUserRole  | lowercase)==='team lead'?'table-cell':'none'"
                          mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;"> </th>
                        <td [style.display]="(CurrentUserRole  | lowercase)==='team lead'?'table-cell':'none'" mat-cell
                          *matCellDef="let element" style="width: 40px;">
                          <img class="removeIcon" src="assets/images/remove-button.png"
                            (click)="RemoveValidationFromTable(element)">
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="ValidationText">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ValidationText </th>
                        <td mat-cell *matCellDef="let element"> {{element.ValidationText}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="ValidationdisplayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: ValidationdisplayedColumns;" matRipple
                        style=" cursor: pointer;">
                      </tr>
                    </table>
                    <div flex>
                      <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">

                <div fxFlex="50">
                  <div style="margin-left: 7px">
                    <span><strong>Sketch</strong></span>
                  </div>
                  <div style="margin-left: 7px;margin-top: 15px">
                    <!-- <span>Attachments</span> -->
                    <span style="color: #4784f7;"> + Add an Attachment. </span>
                  </div>
                </div>
                <div fxFlex="50">
                  <!-- <div style="margin-left: 7px">
                    <span>Attachments</span>
                   <span style="color: #4784f7;"> + Add an Attachment. </span> 
                  </div> -->
                </div>

                <!-- <div fxFlex="50">
                  <div style="margin-left: 7px">
                    <span><strong>Sketch Table</strong></span>
                  </div>
                  <div>
                    <div fxFlex="40">
                      <mat-form-field class="pl-8" style="width: 80%;">
                        <input matInput placeholder="Text">
                      </mat-form-field>
                    </div>
                    <div fxFlex="20">
                    </div>
                    <div fxFlex="20">

                    </div>
                    <div fxFlex="10">

                    </div>
                    <div fxFlex="10">
                      <img style="height: 20px;margin-top: 25px;" src="assets/images/logos/add-button.png">
                    </div>
                  </div>
                  <div style="margin-left: 8px;margin-top: 10px;">
                    <table class="table" mat-table [dataSource]="sketchdataSource" matSort
                      [@animateStagger]="{value:'50'}">

                      <ng-container matColumnDef="Text">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Text </th>
                        <td mat-cell *matCellDef="let element"> {{element.Text}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="sketchdisplayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: sketchdisplayedColumns;" matRipple
                        style=" cursor: pointer;">
                      </tr>
                    </table>
                    <div flex>
                      <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                  </div>
                </div> -->

              </div>
            </div>
            <div fxFlex fxLayout="column">
              <div fxLayout>
                <div fxFlex fxLayoutAlign="end">
                  <button *ngIf="(CurrentUserRole  | lowercase)==='team lead'" class="floatBtn" mat-fab
                    (click)="ResetControl()">
                    <mat-icon style="color: white;">add</mat-icon>
                  </button>
                  <!-- <button mat-raised-button color="accent" (click)="SubmitClicked()">Submit</button> -->
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>