<div id="chat" class="page-layout carded fullwidth">
  <div class="center normal" style="margin-top: -27px !important;padding:32px 0px 1px !important;">
    <div fxLayout class="content-card1">
      <div fxFlex="23" class="side-bar">
        <mat-card class="cardHeader p-8" style="height: 52px !important;background-color: #fffdf9;">
          <div fxLayout fxFlex fxLayoutAlign="center" class="h2">
            <b>Task ({{AllTasks?.length}})</b>
          </div>
        </mat-card>
        <div class="sidenav-header" style="background-color: #f5f5f5;">
          <mat-toolbar>
            <mat-toolbar-row fxLayout="row" class="px-8" fxLayoutAlign="space-between center">
              <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                  <mat-icon class="s-16">search</mat-icon>
                </div>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
          <div>
            <div class="sidenav-content" fusePerfectScrollbar fxFlex>
              <div *ngFor="let usr of AllTasks | filter: searchText">
                <div>
                  <div class="mx-8 mb-8 mt-0 p-8 leftCard" (click)="loadSelectedTask(usr)"
                    [style.border-left-color]="selectID==usr.TaskID?'#efb577':'#cccccc'">
                    <div fxLayout fxLayoutAlign="space-between center">
                      <div fxFlex><strong>{{usr.Title}}</strong></div>
                      <div fxFlex fxLayoutAlign="end" class="mr-8">{{usr.Type}}</div>
                    </div>
                    <div style="font-size: 11px">
                      <div style="margin-top: 10px;color: #2e2e2e">
                        <span style="margin-right: 10px">{{GetTaskGroupTitle(usr.TaskSubGroupID)}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="(AllTasks | filter: searchText)?.length === 0" class="no-results-message">
                <span class="pl-12"> No results..</span>
              </div>
            </div>

          </div>
        </div>
        <div class="borderRight1"></div>
      </div>
      <div fxFlex="77" class="side-bar">
        <mat-card class="cardHeader p-8" style="background-color: #fffdf9;">
          <div fxFlex *ngIf="((CurrentUserRole | lowercase)==='developer' || SelectedTask?.AssignedTo?.includes(CurrentUserID))
           && !SelectedTask?.AcceptedCompletionDate">
            <form autocomplete="off" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" novalidate
              [formGroup]="acceptTaskFormGroup">
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="30">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;" *ngIf="(CurrentUserRole | lowercase)==='developer' || SelectedTask?.AssignedTo?.includes(CurrentUserID)
                  || acceptTaskFormGroup.get('AcceptedEffort')?.value">
                    <input matInput placeholder="Accepted Effort (hrs)" formControlName="AcceptedEffort"
                      (keydown)="numberOnly($event)">
                    <mat-error
                      *ngIf="acceptTaskFormGroup.get('AcceptedEffort').touched && acceptTaskFormGroup.get('AcceptedEffort').hasError('required')">
                      Accepted Effort is required
                    </mat-error>
                    <mat-error *ngIf="acceptTaskFormGroup.get('AcceptedEffort').touched && !acceptTaskFormGroup.get('AcceptedEffort').hasError('required')
                  &&acceptTaskFormGroup.get('AcceptedEffort').hasError('pattern')">
                      Enter a valid number
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="35">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;" *ngIf="(CurrentUserRole | lowercase)==='developer' || SelectedTask?.AssignedTo?.includes(CurrentUserID)
                || acceptTaskFormGroup.get('AcceptedEffort')?.value">
                    <input matInput placeholder="Accepted Completion Date" [matDatepicker]="picker200"
                      formControlName="AcceptedCompletionDate">
                    <mat-datepicker-toggle matSuffix [for]="picker200"></mat-datepicker-toggle>
                    <mat-datepicker #picker200></mat-datepicker>
                    <mat-error
                      *ngIf="acceptTaskFormGroup.get('AcceptedCompletionDate').touched && acceptTaskFormGroup.get('AcceptedCompletionDate').hasError('required')">
                      Accepted Completion Date is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="35">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;">
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5" placeholder="Remarks" formControlName="Remarks"></textarea>
                    <mat-error
                      *ngIf="acceptTaskFormGroup.get('Remarks').touched && acceptTaskFormGroup.get('Remarks').hasError('required')">
                      Remarks is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div fxLayout fxFlex class="h2" fxLayoutAlign="end">
            <button (click)="AcceptTaskClicked()" class="SaveBtn mr-12" mat-raised-button *ngIf="((CurrentUserRole | lowercase)==='developer' || SelectedTask?.AssignedTo?.includes(CurrentUserID))
           && !SelectedTask?.AcceptedCompletionDate">
              Accept</button>
            <button (click)="CompleteTaskClicked()" class="SaveBtn mr-12" mat-raised-button *ngIf="((CurrentUserRole | lowercase)==='developer' || SelectedTask?.AssignedTo?.includes(CurrentUserID))
             && SelectedTask?.AcceptedCompletionDate">
              Complete</button>
              <button (click)="CompleteTaskClicked()" class="DeleteBtn mr-12" mat-raised-button *ngIf="((CurrentUserRole | lowercase)==='team lead' || (SelectedTask.TaskID?SelectedTask?.CreatedBy === CurrentUserID:true))
              && SelectedTask?.AcceptedCompletionDate">
               Reject</button>
            <button (click)="DeleteClicked()" class="DeleteBtn mr-12" *ngIf="SelectedTask.TaskID" mat-stroked-button>
              Delete</button>
            <button mat-raised-button class="ClearBtn mr-12" (click)="ResetControl()" *ngIf="!SelectedTask.TaskID">
              Clear
            </button>
            <button (click)="SaveClicked()" class="SaveBtn" mat-raised-button>
              {{SelectedTask.TaskID?'Update':'Save'}}</button>
          </div>
        </mat-card>
        <div class="sidenav-content" fxFlex fxLayout="column">
          <mat-card style="margin-top: 5px;" fxFlex fxLayout="column">
            <form autocomplete="off" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" novalidate
              [formGroup]="taskFormGroup">
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;">
                    <input matInput placeholder="Title" formControlName="Title">
                    <mat-error
                      *ngIf="taskFormGroup.get('Title').touched && taskFormGroup.get('Title').hasError('required')">
                      Title is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;">
                    <mat-select (selectionChange)="typeSelected($event)" placeholder="Type" formControlName="Type">
                      <mat-option value="UI">UI</mat-option>
                      <mat-option value="Service">Service</mat-option>
                      <mat-option value="General">General</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="taskFormGroup.get('Type').touched && taskFormGroup.get('Type').hasError('required')">
                      Title is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;">
                    <input matInput placeholder="Estimated Effort (hrs)" formControlName="EstimatedEffort"
                      (keydown)="numberOnly($event)">
                    <mat-error
                      *ngIf="taskFormGroup.get('EstimatedEffort').touched && taskFormGroup.get('EstimatedEffort').hasError('required')">
                      Estimated Effort is required
                    </mat-error>
                    <mat-error *ngIf="taskFormGroup.get('EstimatedEffort').touched && !taskFormGroup.get('EstimatedEffort').hasError('required')
                    &&taskFormGroup.get('EstimatedEffort').hasError('pattern')">
                      Enter a valid number
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;">
                    <input matInput placeholder="Completion Before" [matDatepicker]="picker1"
                      formControlName="CompletionBefore">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <!-- <input matInput placeholder="Completion Before" formControlName="CompletionBefore"> -->
                    <mat-error
                      *ngIf="taskFormGroup.get('CompletionBefore').touched && taskFormGroup.get('CompletionBefore').hasError('required')">
                      Completion Before is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;">
                    <mat-select multiple placeholder="Assigned To" formControlName="AssignedTo">
                      <mat-option [value]="dev.UserID" *ngFor="let dev of AllDevelopersAndTLs">{{dev.UserName}}
                      </mat-option>
                    </mat-select>
                    <!-- <input matInput placeholder="Assigned To" formControlName="AssignedTo"> -->
                    <mat-error
                      *ngIf="taskFormGroup.get('AssignedTo').touched && taskFormGroup.get('AssignedTo').hasError('required')">
                      Assigned To is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;">
                    <mat-select placeholder="Sprint" formControlName="TaskSubGroupID">
                      <mat-option [value]="tas.TaskSubGroupID" *ngFor="let tas of AllTaskSubGroupView">
                        {{tas.TaskSubGroupTitle + ' - ' + tas.TaskGroupTitle + ' - '+ tas.ProjectTitle}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="taskFormGroup.get('TaskSubGroupID').touched && taskFormGroup.get('TaskSubGroupID').hasError('required')">
                      Task Sub Group is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;" *ngIf="(CurrentUserRole | lowercase)==='developer' || SelectedTask?.AssignedTo?.includes(CurrentUserID)
                    || taskFormGroup.get('AcceptedEffort')?.value">
                    <input matInput placeholder="Accepted Effort (hrs)" formControlName="AcceptedEffort"
                      (keydown)="numberOnly($event)">
                    <mat-error
                      *ngIf="taskFormGroup.get('AcceptedEffort').touched && taskFormGroup.get('AcceptedEffort').hasError('required')">
                      Accepted Effort is required
                    </mat-error>
                    <mat-error *ngIf="taskFormGroup.get('AcceptedEffort').touched && !taskFormGroup.get('AcceptedEffort').hasError('required')
                    &&taskFormGroup.get('AcceptedEffort').hasError('pattern')">
                      Enter a valid number
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8 pr-24" style="width: 100%;" *ngIf="(CurrentUserRole | lowercase)==='developer' || SelectedTask?.AssignedTo?.includes(CurrentUserID)
                  || taskFormGroup.get('AcceptedEffort')?.value">
                    <input matInput placeholder="Accepted Completion Date" [matDatepicker]="picker2"
                      formControlName="AcceptedCompletionDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <!-- <input matInput placeholder="Accepted Completion Date" formControlName="AcceptedCompletionDate"> -->
                    <mat-error
                      *ngIf="taskFormGroup.get('AcceptedCompletionDate').touched && taskFormGroup.get('AcceptedCompletionDate').hasError('required')">
                      Accepted Completion Date is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </form>
            <div fxFlex fxLayout="column">
              <div fxLayout>
                <div fxFlex fxLayoutAlign="end">
                  <mat-sidenav-container class="example-container">
                    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                                 (closed)="events.push('close!')">
                      Sidenav content
                    </mat-sidenav> 
                    <mat-sidenav-content>
                      <button mat-button (click)="sidenav.toggle()">TimeLine</button>
                    </mat-sidenav-content>
                  </mat-sidenav-container>
                </div>
              </div>
            </div>
            <div fxFlex fxLayout="column" class="mt-24" *ngIf="(SelectedTask?.Type| lowercase)==='ui'">
              <div style="margin-left: 7px">
                <span><strong>Input Table</strong></span>
              </div>
              <!-- *ngIf="(SelectedTask.TaskID?SelectedTask?.CreatedBy === CurrentUserID:true)"(CurrentUserRole  | lowercase)==='team lead'&& -->
              <div>
                <form autocomplete="off" fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" novalidate
                  [formGroup]="inputFormGroup">
                  <div fxFlex="25">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="Field" formControlName="Field"
                        (keyup.enter)="keytab('inputValidation')">
                      <mat-error
                        *ngIf="inputFormGroup.get('Field').touched && inputFormGroup.get('Field').hasError('required')">
                        Field is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25">
                    <mat-form-field class="pl-8 pr-24" style="width: 100%;">
                      <input matInput placeholder="Validation" formControlName="Validation" #inputValidation
                        (keyup.enter)="keytab('inputRemarks')">
                      <mat-error
                        *ngIf="inputFormGroup.get('Validation').touched && inputFormGroup.get('Validation').hasError('required')">
                        Validation is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="45">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="Remarks" formControlName="Remarks" #inputRemarks
                        (keydown.enter)="InputEnterKeyDown()">
                      <mat-error
                        *ngIf="inputFormGroup.get('Remarks').touched && inputFormGroup.get('Remarks').hasError('required')">
                        Remarks is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="5" fxLayoutAlign="start">
                    <img class="addIcon" src="assets/images/logos/add-button.png" (click)="AddInputToTable()">
                  </div>
                </form>
              </div>
              <div style="margin-left: 8px;margin-top: 10px;">
                <table *ngIf="InputsByTask?.length" class="table" mat-table [dataSource]="InputdataSource" matSort>

                  <ng-container matColumnDef="Field">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> Field </th>
                    <td mat-cell *matCellDef="let element" style="width: 25%;" class="tableLeftBorder">
                      {{element.Field}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Validation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> Validation </th>
                    <td mat-cell *matCellDef="let element" style="width: 25%;"> {{element.Validation}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 45%;"> Remarks </th>
                    <td mat-cell *matCellDef="let element" style="width: 45%;"> {{element.Remarks}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <!-- [style.display]="((CurrentUserRole  | lowercase)==='team lead' &&
                    (SelectedTask.TaskID?SelectedTask?.CreatedBy === CurrentUserID:true))?'table-cell':'none'" -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%;"> </th>
                    <!-- [style.display]="((CurrentUserRole  | lowercase)==='team lead' &&
                    (SelectedTask.TaskID?SelectedTask?.CreatedBy === CurrentUserID:true))?'table-cell':'none'" -->
                    <td mat-cell *matCellDef="let element" style="width: 5%;">
                      <img class="removeIcon" src="assets/images/remove-button.png"
                        (click)="RemoveInputFromTable(element)">
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="InputdisplayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: InputdisplayedColumns;" matRipple style=" cursor: pointer;">
                  </tr>
                </table>
                <div flex *ngIf="InputsByTask?.length">
                  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                  </mat-paginator>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div fxFlex fxLayout="column" *ngIf="(SelectedTask?.Type| lowercase)==='ui'">
              <div style="margin-left: 7px">
                <!-- *ngIf="(CurrentUserRole | lowercase)==='developer' || 
                SelectedTask?.AssignedTo?.includes(CurrentUserID) || OutputsByTask?.length" -->
                <span>
                  <strong>Output Table</strong></span>
              </div>
              <div>
                <!-- *ngIf="(CurrentUserRole | lowercase)==='developer' || SelectedTask?.AssignedTo?.includes(CurrentUserID)" -->
                <form autocomplete="off" fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" novalidate
                  [formGroup]="outputFormGroup">
                  <div fxFlex="10">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="Level" formControlName="Level" (keyup.enter)="keytab('outputField')">
                      <mat-error
                        *ngIf="outputFormGroup.get('Level').touched && outputFormGroup.get('Level').hasError('required')">
                        Level is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="20">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="Field" formControlName="Field" #outputField
                        (keyup.enter)="keytab('outputValidation')">
                      <mat-error
                        *ngIf="outputFormGroup.get('Field').touched && outputFormGroup.get('Field').hasError('required')">
                        Field is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="20">
                    <mat-form-field class="pl-8 pr-24" style="width: 100%;">
                      <input matInput placeholder="Validation" formControlName="Validation" #outputValidation
                        (keyup.enter)="keytab('outputRemarks')">
                      <mat-error
                        *ngIf="outputFormGroup.get('Validation').touched && outputFormGroup.get('Validation').hasError('required')">
                        Validation is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="45">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="Remarks" formControlName="Remarks" #outputRemarks
                        (keydown.enter)="OutputEnterKeyDown()">
                      <mat-error
                        *ngIf="outputFormGroup.get('Remarks').touched && outputFormGroup.get('Remarks').hasError('required')">
                        Remarks is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="5" fxLayoutAlign="start">
                    <img class="addIcon" src="assets/images/logos/add-button.png" (click)="AddOutputToTable()">
                  </div>
                </form>
              </div>
              <div style="margin-left: 8px;margin-top: 10px;">
                <table *ngIf="OutputsByTask?.length" class="table" mat-table [dataSource]="OutputdataSource" matSort>

                  <ng-container matColumnDef="Level">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> Level </th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;" class="tableLeftBorder">
                      {{element.Level}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Field">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Field </th>
                    <td mat-cell *matCellDef="let element" style="width: 20%;"> {{element.Field}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Validation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Validation </th>
                    <td mat-cell *matCellDef="let element" style="width: 20%;"> {{element.Validation}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 45%;"> Remarks </th>
                    <td mat-cell *matCellDef="let element" style="width: 45%;"> {{element.Remarks}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <!-- [style.display]="((CurrentUserRole | lowercase)==='developer' || 
                    SelectedTask?.AssignedTo?.includes(CurrentUserID))?'table-cell':'none'" -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%;"> </th>
                    <!-- [style.display]="((CurrentUserRole | lowercase)==='developer' || 
                    SelectedTask?.AssignedTo?.includes(CurrentUserID))?'table-cell':'none'" -->
                    <td mat-cell *matCellDef="let element" style="width: 5%;">
                      <img class="removeIcon" src="assets/images/remove-button.png"
                        (click)="RemoveOutputFromTable(element)">
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="OutputdisplayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: OutputdisplayedColumns;" matRipple
                    style=" cursor: pointer;">
                  </tr>
                </table>
                <div flex *ngIf="OutputsByTask?.length">
                  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                  </mat-paginator>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div fxFlex fxLayout="column">
              <div fxFlex fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50" fxLayout="column">
                  <div style="margin-left: 7px">
                    <!-- <span><strong>Logic Table</strong></span> -->
                  </div>
                  <div
                    *ngIf="(CurrentUserRole  | lowercase)==='team lead' &&(SelectedTask.TaskID?SelectedTask?.CreatedBy === CurrentUserID:true)">
                    <form autocomplete="off" fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                      novalidate [formGroup]="logicFormGroup">
                      <div fxFlex="90">
                        <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                          <input matInput placeholder="Logic Text" formControlName="LogicText" #logicText
                            (keydown.enter)="LogicEnterKeyDown()">
                          <mat-error
                            *ngIf="logicFormGroup.get('LogicText').touched && logicFormGroup.get('LogicText').hasError('required')">
                            Logic Text is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="10" fxLayout="start">
                        <img class="addIcon" src="assets/images/logos/add-button.png" (click)="AddLogicToTable()">
                      </div>
                    </form>
                  </div>
                  <div style="margin-left: 8px;margin-top: 10px;">
                    <table *ngIf="LogicsByTask?.length" class="table" mat-table [dataSource]="LogicdataSource" matSort>

                      <ng-container matColumnDef="LogicText">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 90%;"> LogicText </th>
                        <td mat-cell *matCellDef="let element" style="width: 90%;" class="tableLeftBorder">
                          {{element.LogicText}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Action">
                        <th [style.display]="((CurrentUserRole  | lowercase)==='team lead' &&
                        (SelectedTask.TaskID?SelectedTask?.CreatedBy === CurrentUserID:true))?'table-cell':'none'"
                          mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> </th>
                        <td [style.display]="((CurrentUserRole  | lowercase)==='team lead' &&
                        (SelectedTask.TaskID?SelectedTask?.CreatedBy === CurrentUserID:true))?'table-cell':'none'"
                          mat-cell *matCellDef="let element" style="width: 10%;">
                          <img class="removeIcon" src="assets/images/remove-button.png"
                            (click)="RemoveLogicFromTable(element)">
                        </td>
                      </ng-container>


                      <tr mat-header-row *matHeaderRowDef="LogicdisplayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: LogicdisplayedColumns;" matRipple
                        style=" cursor: pointer;">
                      </tr>
                    </table>
                    <div flex *ngIf="LogicsByTask?.length">
                      <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                    <!-- </div> -->
                  </div>
                </div>
                <div fxFlex="50" fxLayout="column">
                  <div style="margin-left: 7px">
                    <!-- <span><strong>Validation Table</strong></span> -->
                  </div>
                  <div *ngIf="(CurrentUserRole  | lowercase)==='team lead' && 
                    (SelectedTask.TaskID?SelectedTask?.CreatedBy === CurrentUserID:true)">
                    <form autocomplete="off" fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                      novalidate [formGroup]="validationFormGroup">
                      <div fxFlex="90">
                        <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                          <input matInput placeholder="Validation Text" formControlName="ValidationText" #validationText
                            (keydown.enter)="ValidationEnterKeyDown()">
                          <mat-error
                            *ngIf="validationFormGroup.get('ValidationText').touched && validationFormGroup.get('ValidationText').hasError('required')">
                            Validation Text is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="10" fxLayout="start">
                        <img class="addIcon" src="assets/images/logos/add-button.png" (click)="AddValidationToTable()">
                      </div>
                    </form>
                  </div>
                  <div style="margin-left: 8px;margin-top: 10px;">
                    <table *ngIf="ValidationsByTask?.length" class="table" mat-table [dataSource]="ValidationdataSource"
                      matSort>

                      <ng-container matColumnDef="ValidationText">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 90%;"> ValidationText </th>
                        <td mat-cell *matCellDef="let element" style="width: 90%;" class="tableLeftBorder">
                          {{element.ValidationText}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Action">
                        <th [style.display]="((CurrentUserRole  | lowercase)==='team lead' &&
                        (SelectedTask.TaskID?SelectedTask?.CreatedBy === CurrentUserID:true))?'table-cell':'none'"
                          mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> </th>
                        <td [style.display]="((CurrentUserRole  | lowercase)==='team lead' &&
                        (SelectedTask.TaskID?SelectedTask?.CreatedBy === CurrentUserID:true))?'table-cell':'none'"
                          mat-cell *matCellDef="let element" style="width: 10%;">
                          <img class="removeIcon" src="assets/images/remove-button.png"
                            (click)="RemoveValidationFromTable(element)">
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="ValidationdisplayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: ValidationdisplayedColumns;" matRipple
                        style=" cursor: pointer;">
                      </tr>
                    </table>
                    <div flex *ngIf="ValidationsByTask?.length">
                      <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                    <!-- </div> -->
                  </div>
                </div>
              </div>


              <!-- <div fxFlex="50">
                  <div style="margin-left: 7px">
                    <span><strong>Sketch Table</strong></span>
                  </div>
                  <div>
                    <div fxFlex="40">
                      <mat-form-field class="pl-8"style="width: 100%;">
                        <input matInput placeholder="Text">
                      </mat-form-field>
                    </div>
                    <div fxFlex="20">
                    </div>
                    <div fxFlex="20">

                    </div>
                    <div fxFlex="10">

                    </div>
                    <div fxFlex="10">
                      <img style="height: 20px;margin-top: 25px;" src="assets/images/logos/add-button.png">
                    </div>
                  </div>
                  <div style="margin-left: 8px;margin-top: 10px;">
                    <table class="table" mat-table [dataSource]="sketchdataSource" matSort
                      >

                      <ng-container matColumnDef="Text">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Text </th>
                        <td mat-cell *matCellDef="let element"> {{element.Text}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="sketchdisplayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: sketchdisplayedColumns;" matRipple
                        style=" cursor: pointer;">
                      </tr>
                    </table>
                    <div flex>
                      <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                  </div>
                </div> -->

            </div>
            <div fxFlex fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <div style="margin-left: 7px">
                    <span><strong>Sketch</strong></span>
                  </div>
                  <div class="my-16">
                    <span class="addAttachmentClass" (click)="fileInput1.click()"> + Add an Attachment. </span>
                    <input hidden type="file" accept="image/x-png,image/gif,image/jpeg,image/jpg" #fileInput1 id="file"
                      (change)="handleFileInput($event)" />
                  </div>
                </div>
                <div fxFlex="50">
                </div>
              </div>
              <div class="m-4" *ngFor="let fil of fileToUploadList;let index=index;" fxLayout="row wrap"
                fxLayoutAlign="start">
                <div fxFlex="33" fxLayout class="Rectangle" (click)="GetAttachment(fil.name,fil)">
                  <div class="Rectangle-106 m-8">
                    <img class="m-8" src="assets/images/imageIcon.png">
                  </div>
                  <div fxFlex class="m-8" fxLayout="column">
                    <div fxFlex>{{fil.name}}</div>
                    <div fxFlex *ngIf="fil.size">{{math.round(fil.size / 1024) + ' KB'}}</div>
                    <div fxFlex *ngIf="SketchViewsByTask[index]?.ContentLength">
                      {{math.round(SketchViewsByTask[index]?.ContentLength / 1024) + ' KB'}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div fxFlex fxLayout="column">
              <div fxLayout>
                <div fxFlex fxLayoutAlign="end">
                  <button *ngIf="(CurrentUserRole  | lowercase)==='team lead' && SelectedTask.TaskID" class="floatBtn"
                    mat-fab (click)="OpenSelectSprintDialog()">
                    <mat-icon style="color: white;">add</mat-icon>
                  </button>
                  <!-- <button mat-raised-button color="accent" (click)="SubmitClicked()">Submit</button> -->
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>
