<div id="taskgroup" class="page-layout carded fullwidth">
  <div class="center normal" style="margin-top: -27px !important;padding:32px 0px 1px !important;">
    <div fxLayout class="content-card1">
      <div fxFlex="23" class="side-bar">
        <mat-card class="cardHeader p-8" style="height: 52px !important;background-color: #fffdf9;">
          <div fxLayout fxFlex fxLayoutAlign="center" class="h2">
            <b>Task Groups ({{this.AllTaskGroupsCount}})</b>
          </div>
        </mat-card>
        <div class="sidenav-header" style="background-color: #f5f5f5;">
          <mat-toolbar>
            <mat-toolbar-row fxLayout="row" class="px-8" fxLayoutAlign="space-between center">
              <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                  <mat-icon class="s-16">search</mat-icon>
                </div>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>

          <div>
            <mat-card class="mx-8 my-4 p-8 leftCard" *ngFor="let taskGroup of AllTaskGroups | filter: searchText"
              (click)="LoadSelectedTaskGroup(taskGroup)"
              [style.border-left-color]="selectID==taskGroup.TaskGroupID?'#efb577':'#cccccc'">
              <div fxLayout fxLayoutAlign="space-between center">
                <div fxFlex><strong>{{taskGroup.Title}}</strong></div>
                <div fxFlex fxLayoutAlign="end">{{taskGroup.PlannedStartDate | date:'dd/MM/yyyy'}}</div>
              </div>
              <div fxLayout fxLayoutAlign="space-between center"
                style=" font-size: 11px;margin-top: 10px;color: #2e2e2e">
                <div fxFlex>{{taskGroup.Project.Title}}</div>
                <!-- <div fxFlex fxLayoutAlign="end">{{taskGroup.Project.Title}}</div> -->
              </div>
              <!-- <div style="font-size: 11px">
                <div style="margin-top: 10px;color: #2e2e2e">
                  <span style="margin-right: 10px">{{taskGroup.OwnerMaster.OwnerName}}</span>                  
                </div>
                <div style="color: #2e2e2e ;float: right;"  >{{taskGroup.Project.Title}}</div>
              </div> -->
              <div *ngIf="(AllTaskGroups | filter: searchText).length === 0" class="no-results-message">
                <span class="pl-12"> No results..</span>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="borderRight1"></div>
      <div fxFlex="77" class="side-bar">
        <mat-card class="cardHeader p-8" style="background-color: #fffdf9;">
          <div fxLayout fxFlex class="h2" fxLayoutAlign="end">
            <button (click)="DeleteClicked()" *ngIf="SelectedTaskGroup.TaskGroupID" mat-stroked-button color="warn"
              style="background-color: white;"><span style="color: #ef8377;">Delete</span>
            </button>
            <button mat-raised-button class="mr-12" (click)="ResetControl()" *ngIf="!SelectedTaskGroup.TaskGroupID">
              Clear
            </button>
            <button (click)="SaveClicked()" mat-raised-button style="margin-left: 10px;background-color: #efb577;"><span
                style="color: white;"> {{SelectedTaskGroup.TaskGroupID?'Update':'Create'}}</span>
            </button>
          </div>
        </mat-card>
        <div class="sidenav-content" fusePerfectScrollbar fxFlex fxLayout="column">
          <mat-card style="margin-top: 5px;">
            <form autocomplete="off" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
              [formGroup]="taskGroupMainFormGroup" novalidate>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 80%;">
                    <input matInput placeholder="Title" formControlName="Title">
                    <mat-error
                      *ngIf="taskGroupMainFormGroup.get('Title').touched &&  taskGroupMainFormGroup.get('Title').hasError('required')">
                      Title required</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 100%;">
                    <mat-select placeholder="Owner" formControlName="OwnerIDList" multiple
                      (selectionChange)="TaskGroupOnOwnerNameChanged()">
                      <mat-option *ngFor="let owner of AllOwners" [value]="owner.UserID">
                        {{owner.UserName}}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="taskGroupMainFormGroup.get('OwnerIDList').touched && taskGroupMainFormGroup.get('OwnerIDList').hasError('required')">
                      Owner
                      Name required</mat-error>
                  </mat-form-field>
                  <!-- <ng-multiselect-dropdown class="pl-8" style="width: 100%;" [placeholder]="'Owner'" [data]="AllOwners"
                    [(ngModel)]="TaskGroupSelectedOwners" [settings]="taskGroupFormDropdownSettings"
                    (onSelectAll)="onSelectAll($event)" formControlName="OwnerIDList">
                  </ng-multiselect-dropdown> -->
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 80%;">
                    <mat-select placeholder="Project" formControlName="ProjectID">
                      <mat-option *ngFor="let project of AllProjects" [value]="project.ProjectID"
                        (click)="onProjectClick(project.Title)">
                        {{project.Title}}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="taskGroupMainFormGroup.get('ProjectID').touched && taskGroupMainFormGroup.get('ProjectID').hasError('required')">
                      Project required</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 100%;">
                    <mat-label>Planned Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="PlannedStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                      *ngIf="taskGroupMainFormGroup.get('PlannedStartDate').touched && taskGroupMainFormGroup.get('PlannedStartDate').hasError('required')">
                      Planned Start date is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 80%;">
                    <mat-label>Planned End Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="PlannedEndDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error
                      *ngIf="taskGroupMainFormGroup.get('PlannedEndDate').touched && taskGroupMainFormGroup.get('PlannedEndDate').hasError('required')">
                      Planned End date is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 100%;">
                    <input matInput placeholder="Planned Effort (hrs)" formControlName="PlannedEffort">
                    <mat-error
                      *ngIf="taskGroupMainFormGroup.get('PlannedEffort').touched &&  taskGroupMainFormGroup.get('PlannedEffort').hasError('required')">
                      Planned Effort required</mat-error>
                    <mat-error *ngIf="taskGroupMainFormGroup.get('PlannedEffort').touched &&  !taskGroupMainFormGroup.get('PlannedEffort').hasError('required')
                      && taskGroupMainFormGroup.get('PlannedEffort').hasError('pattern')">
                      Enter Valid Number</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start" *ngIf="SelectedTaskGroup.TaskGroupID">
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 40%;">
                    <mat-label>Actual Start Date</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="ActualStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error
                      *ngIf="taskGroupMainFormGroup.get('ActualStartDate').touched && taskGroupMainFormGroup.get('ActualStartDate').hasError('required')">
                      Actual Start date is required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="pl-8" style="width: 40%;">
                    <mat-label>Actual End Date</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="ActualEndDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-error
                      *ngIf="taskGroupMainFormGroup.get('ActualEndDate').touched && taskGroupMainFormGroup.get('ActualEndDate').hasError('required')">
                      Actual End date is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="pl-8" style="width: 100%;">
                    <input matInput placeholder="Actual Effort (hrs)" formControlName="ActualEffort">
                    <mat-error
                      *ngIf="taskGroupMainFormGroup.get('ActualEffort').touched &&  taskGroupMainFormGroup.get('ActualEffort').hasError('required')">
                      Actual Effort required</mat-error>
                    <mat-error *ngIf="taskGroupMainFormGroup.get('ActualEffort').touched &&  !taskGroupMainFormGroup.get('ActualEffort').hasError('required')
                      && taskGroupMainFormGroup.get('ActualEffort').hasError('pattern')">
                      Enter Valid Number</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Sub-Group Information -->
              <div class="task-sub-group">
                <div>
                  <span style="border-bottom: 2px solid #efb577 !important;"><strong>Sprint</strong></span>
                </div>
                <div>
                  <!-- Sub-Group Form  -->
                  <form [formGroup]="taskSubGroupMainFormGroup" fxLayout="column" fxLayoutAlign="start"
                    fxFlex="1 0 auto" autocomplete="off" name="form" novalidate>
                    <div fxLayout="row" fxLayoutAlign="start">
                      <div fxFlex="50">
                        <mat-form-field class="pl-8" style="width: 80%;">
                          <input matInput placeholder="Title" formControlName="Title">
                          <mat-error
                            *ngIf="taskSubGroupMainFormGroup.get('Title').touched &&  taskSubGroupMainFormGroup.get('Title').hasError('required')">
                            Title required</mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="50">
                        <mat-form-field class="pl-8" style="width: 100%;">
                          <mat-select placeholder="Owner" formControlName="OwnerIDList" multiple
                            (selectionChange)="TaskSubGroupOnOwnerNameChanged()">
                            <mat-option *ngFor="let owner of AllOwners" [value]="owner.UserID">
                              {{owner.UserName}}</mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="taskSubGroupMainFormGroup.get('OwnerIDList').touched && taskSubGroupMainFormGroup.get('OwnerIDList').hasError('required')">
                            Owner
                            Name required</mat-error>
                        </mat-form-field>
                        <!-- <ng-multiselect-dropdown class="p-8" style="width: 100%;" [placeholder]="'Owner'"
                          [data]="AllOwners" [(ngModel)]="TaskSubGroupSelectedOwners"
                          [settings]="taskSubGroupFormDropdownSettings" (onSelectAll)="onSelectAll($event)"
                          formControlName="OwnerIDList">
                        </ng-multiselect-dropdown> -->
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start">
                      <div fxFlex="50">
                        <mat-form-field class="pl-8" style="width: 40%;">
                          <mat-label>Planned Start Date</mat-label>
                          <input matInput [matDatepicker]="picker4" formControlName="PlannedStartDate">
                          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                          <mat-datepicker #picker4></mat-datepicker>
                          <mat-error
                            *ngIf="taskSubGroupMainFormGroup.get('PlannedStartDate').touched && taskSubGroupMainFormGroup.get('PlannedStartDate').hasError('required')">
                            Planned Start date is required
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="pl-8" style="width: 40%;">
                          <mat-label>Planned End Date</mat-label>
                          <input matInput [matDatepicker]="picker5" formControlName="PlannedEndDate">
                          <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                          <mat-datepicker #picker5></mat-datepicker>
                          <mat-error
                            *ngIf="taskSubGroupMainFormGroup.get('PlannedEndDate').touched && taskSubGroupMainFormGroup.get('PlannedEndDate').hasError('required')">
                            Planned End date is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="50">
                        <mat-form-field class="pl-8" style="width: 100%;">
                          <input matInput placeholder="Planned Effort (hrs)" formControlName="PlannedEffort">
                          <mat-error
                            *ngIf="taskSubGroupMainFormGroup.get('PlannedEffort').touched &&  taskSubGroupMainFormGroup.get('PlannedEffort').hasError('required')">
                            Planned Effort required</mat-error>
                          <mat-error *ngIf="taskSubGroupMainFormGroup.get('PlannedEffort').touched &&  !taskSubGroupMainFormGroup.get('PlannedEffort').hasError('required')
                            && taskSubGroupMainFormGroup.get('PlannedEffort').hasError('pattern')">
                            Enter Valid Number</mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field *ngIf="SelectedTaskGroup.TaskGroupID" class="pl-8" style="width: 50%;">
                          <mat-label>Actual End Date</mat-label>
                          <input matInput [matDatepicker]="picker7" formControlName="ActualEndDate">
                          <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                          <mat-datepicker #picker7></mat-datepicker>
                          <mat-error
                            *ngIf="taskSubGroupMainFormGroup.get('ActualEndDate').touched && taskSubGroupMainFormGroup.get('ActualEndDate').hasError('required')">
                            Actual End date is required
                          </mat-error>
                        </mat-form-field> -->
                      </div>
                    </div>
                    <!-- <div fxLayout="row" fxLayoutAlign="start">
                      <div fxFlex="50" *ngIf="SelectedTaskGroup.TaskGroupID">
                        <mat-form-field class="pl-8" style="width: 40%;">
                          <mat-label>Actual Start Date</mat-label>
                          <input matInput [matDatepicker]="picker6" formControlName="ActualStartDate">
                          <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                          <mat-datepicker #picker6></mat-datepicker>
                          <mat-error
                            *ngIf="taskSubGroupMainFormGroup.get('ActualStartDate').touched && taskSubGroupMainFormGroup.get('ActualStartDate').hasError('required')">
                            Actual Start date is required
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="pl-8" style="width: 40%;">
                          <input matInput placeholder="Actual Effort (hrs)" formControlName="ActualEffort">
                          <mat-error
                            *ngIf="taskSubGroupMainFormGroup.get('ActualEffort').touched &&  taskSubGroupMainFormGroup.get('ActualEffort').hasError('required')">
                            Actual Effort required</mat-error>
                          <mat-error *ngIf="taskSubGroupMainFormGroup.get('ActualEffort').touched &&  !taskSubGroupMainFormGroup.get('ActualEffort').hasError('required')
                            && taskSubGroupMainFormGroup.get('ActualEffort').hasError('pattern')">
                            Enter Valid Number</mat-error>
                        </mat-form-field>
                      </div>
                    </div> -->
                    <div fxLayout="row" fxLayoutAlign="end">
                      <button (click)="AddTaskSubGroupToTable()" mat-stroked-button
                        style="margin-left: 10px;height: 30px;color: #efb577;"><span
                          style="color: #efb577;">Add</span></button>
                      <!-- <button (click)="RemoveSelectedRows()" mat-stroked-button
                        style="margin-left: 10px;height: 30px;color: #efb577;"><span
                          style="color: #efb577;">Remove</span></button> -->
                    </div>

                    <!-- Sub Group Table -->
                    <div style="margin-left: 8px;margin-top: 10px; width:70vw; overflow: auto;">

                      <!-- <table class="table" mat-table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}">

                        <ng-container matColumnDef="Title">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                          <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Owner">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
                          <td mat-cell *matCellDef="let element"> {{element.OwnerName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="PlannedStartDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> PlStartDate </th>
                          <td mat-cell *matCellDef="let element"> {{element.PlannedStartDate | date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="PlannedEndDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> PlEndDate </th>
                          <td mat-cell *matCellDef="let element"> {{element.PlannedEndDate | date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="PlannedEffort">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> PlannedEffort </th>
                          <td mat-cell *matCellDef="let element"> {{element.PlannedEffort}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ActualStartDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> AcStartDate </th>
                          <td mat-cell *matCellDef="let element"> {{element.ActualStartDate | date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ActualEndDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> AcEndDate </th>
                          <td mat-cell *matCellDef="let element"> {{element.ActualEndDate | date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ActualEffort">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> ActualEffort </th>
                          <td mat-cell *matCellDef="let element"> {{element.ActualEffort}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;">Action</th>
                          <td mat-cell *matCellDef="let element" style="width: 40px;">
                            <img class="removeIcon" src="assets/images/remove-button.png"
                              (click)="RemoveTaskSubGroupFromTable(element)">
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple
                          style=" cursor: pointer;">
                        </tr>
                      </table> -->

                      <form name="form" [formGroup]="SprintFormGroup">
                        <table mat-table [dataSource]="SprintDataSource" class="table" formArrayName="Sprints">
                          <tr class="tableHeadBg" mat-header-row *matHeaderRowDef="SprintsColumns">
                          </tr>
                          <tr mat-row *matRowDef="let row;let i = index; columns: SprintsColumns;"></tr>

                          <ng-container matColumnDef="Title">
                            <th mat-header-cell *matHeaderCellDef> Title </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                              <input matInput formControlName="Title">
                              <span class="pl-4 errorClass" *ngIf="SprintFormGroup.get('Sprints').controls[index].get('Title').touched && 
                        SprintFormGroup.get('Sprints').controls[index].get('Title').hasError('required')">
                                *
                              </span>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="Owner">
                            <th mat-header-cell *matHeaderCellDef> Owner </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                              <input matInput formControlName="Owner">
                              <span class="pl-4 errorClass" *ngIf="SprintFormGroup.get('Sprints').controls[index].get('Owner').touched && 
                        SprintFormGroup.get('Sprints').controls[index].get('Owner').hasError('required')">
                                *
                              </span>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="PlannedStartDate">
                            <th mat-header-cell *matHeaderCellDef>Pl. St. Dt.</th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                              <input matInput [matDatepicker]="picker21" (click)="picker21.open()"
                                formControlName="PlannedStartDate">
                              <mat-datepicker #picker21></mat-datepicker>
                              <span class="pl-4 errorClass" *ngIf="SprintFormGroup.get('Sprints').controls[index].get('PlannedStartDate').touched && 
                        SprintFormGroup.get('Sprints').controls[index].get('PlannedStartDate').hasError('required')">
                                *
                              </span>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="PlannedEndDate">
                            <th mat-header-cell *matHeaderCellDef>Pl. Et. Dt.</th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                              <input matInput [matDatepicker]="picker22" (click)="picker22.open()"
                                formControlName="PlannedEndDate">
                              <mat-datepicker #picker22></mat-datepicker>
                              <span class="pl-4 errorClass" *ngIf="SprintFormGroup.get('Sprints').controls[index].get('PlannedEndDate').touched && 
                        SprintFormGroup.get('Sprints').controls[index].get('PlannedEndDate').hasError('required')">
                                *
                              </span>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="PlannedEffort">
                            <th mat-header-cell *matHeaderCellDef> Pl Effort </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                              <input matInput formControlName="PlannedEffort">
                              <span class="pl-4 errorClass" *ngIf="SprintFormGroup.get('Sprints').controls[index].get('PlannedEffort').touched && 
                        SprintFormGroup.get('Sprints').controls[index].get('PlannedEffort').hasError('required')">
                                *
                              </span>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="ActualStartDate">
                            <th mat-header-cell *matHeaderCellDef>Ac. St. Dt.</th>
                            <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">                     
                              <input matInput [matDatepicker]="picker23" (click)="picker23.open()"
                                formControlName="ActualStartDate" style="outline: 1px solid gray; height: 20px;">
                              <mat-datepicker #picker23></mat-datepicker>
                              <span class="pl-4 errorClass" *ngIf="SprintFormGroup.get('Sprints').controls[index].get('ActualStartDate').touched && 
                        SprintFormGroup.get('Sprints').controls[index].get('ActualStartDate').hasError('required')">
                                *
                              </span>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="ActualEndDate">
                            <th mat-header-cell *matHeaderCellDef>Ac. Et. Dt.</th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                              <input appearance="outline" matInput [matDatepicker]="picker24" (click)="picker24.open()"
                                formControlName="ActualEndDate" style="outline: 1px solid gray; height: 20px;">
                              <mat-datepicker #picker24></mat-datepicker>
                              <span class="pl-4 errorClass" *ngIf="SprintFormGroup.get('Sprints').controls[index].get('ActualEndDate').touched && 
                        SprintFormGroup.get('Sprints').controls[index].get('ActualEndDate').hasError('required')">
                                *
                              </span>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="ActualEffort">
                            <th mat-header-cell *matHeaderCellDef> Ac Effort </th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                              <input matInput formControlName="ActualEffort" style="outline: 1px solid gray; height: 20px;">
                              <span class="pl-4 errorClass" *ngIf="SprintFormGroup.get('Sprints').controls[index].get('ActualEffort').touched && 
                        SprintFormGroup.get('Sprints').controls[index].get('ActualEffort').hasError('required')">
                                *
                              </span>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef style="width: 40px;"> Action </th>
                            <td mat-cell *matCellDef="let row; let index = index" style="width: 40px;">
                              <img class="removeIcon" src="assets/images/remove-button.png"
                                (click)="RemoveTaskSubGroupFromTable()">
                            </td>
                          </ng-container>

                        </table>
                      </form>
                      <div *ngIf="!AllTaskSubGroups?.length">
                        <mat-icon svgIcon="infoIcon" style="color: #1b56ca;margin-top: 10px;margin-left: 70px">
                        </mat-icon>
                        <span style="margin-left: 10px;">The table does not contain any data</span>
                      </div>
                      <div>
                        <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                        </mat-paginator>
                      </div>
                    </div>

                  </form>
                </div>
              </div>

              <div fxLayout>
                <div fxFlex fxLayoutAlign="end">
                  <button class="float" mat-fab style="background-color: #f6b570; z-index: 100;"
                    (click)="ResetControl()">
                    <mat-icon style="color: white;">add</mat-icon>
                  </button>
                </div>
              </div>

            </form>
          </mat-card>
        </div>
      </div>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPosition" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>